body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.video-container {
  width: 80%;
  height: auto;
  padding: 1em;
}

.header {
  text-align: center;
  padding-top: 1.2em;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.source {
  flex-direction: column;
}